    <div class="credits text-center">
        <p>
            Simple todo management application</a>
        </p>
        <p>
            Welcome to <a target="_blank" href="http://krds.com/in/en/">krds</a> digital agency
        </p>
    </div>
</body>
</html>